.simply {
  color: #0c7357;
  background-color: #eeff5082;
  margin: auto;
}
.hrorange {
  border-bottom: solid rgba(255, 166, 0, 0.61) 1px;
}
.featured {
  color: rgb(255, 72, 0);
  margin: 0%;
}
.fresh {
  color: #0c7357;
  margin: 0%;
}
.all {
  margin-left: 365px;
  margin-right: 365px;
}
.hrblu {
  border-bottom: solid rgb(0, 195, 255) 1px;
}
.leftbord {
  border-left: solid 1px orange;
  padding-left: 10px;
}
.img {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 10px;
}
.link {
  color: darkcyan;
}
